/* Add screen styles below */
a.active {
    font-weight: bold;
}
body{
    background: #37323E;
    font-family: 'Inclusive Sans', sans-serif;
}
h1{
    font-size: 96;
    background-color: #D3AF37;
    color: black;
    padding: 15px;
    margin: 0;
}
h2{
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 
    -1px -1px 0 #ffffff83,  /* Top-left shadow */
     1px -1px 0 #ffffff83,  /* Top-right shadow */
    -1px  1px 0 #ffffff83,  /* Bottom-left shadow */
     1px  1px 0 #ffffff83;  /* Bottom-right shadow */
}

img {
  width: 110px;
  height: 150px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
html, body {
  border: 3px solid black;
  margin: 0;
  padding-bottom: 400px;
}
