/* Add screen styles below */
a.active {
    font-weight: bold;
}
body{
    background: #444444;
    font-family: 'Inclusive Sans', sans-serif;
}
h1{
    font-size: 96px;
    background-color: #D3AF37;
    color: black;
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    font-size: 64px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 
    -1px -1px 0 #ffffff50,  /* Top-left shadow */
     1px -1px 0 #ffffff50,  /* Top-right shadow */
    -1px  1px 0 #ffffff50,  /* Bottom-left shadow */
     1px  1px 0 #ffffff50;  /* Bottom-right shadow */
}
div{
    width: 1258px;
    height: 295px;
    margin: 0 auto;
    margin-left: 300px;
}
h3{
    text-align: center;
    font-size: 64px;
    color: white;
    margin: 0 auto;
}
p{
    font-size: 32px;
}

img {
  width: 450px;
  height: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
html {
  border: 3px solid black;
  margin: 0;
  padding-bottom: 600px;
}
