/* Add screen styles below */
a.active {
    font-weight: bold;
}
body{
    background: #37323E;
    font-family: 'Inclusive Sans', sans-serif;
}
img {
  width: 110px;
  height: 150px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
html, body {
  border: 3px solid black;
  margin: 0;
  padding: 0; 
  padding-bottom: 100px;
}
